In [3]:
class Name:
    def __init__(self, first_name, last_name):
        #self.first_name = first_name.lower().capitalize()  #приводим к нижнему регистру приходящие зн-я+первый символ заглавный
        self.first_name = first_name.title()   #еще один способ описанный выше
        self.last_name = last_name.title()
        self.full_name = self.first_name + " " + self.last_name
        self.initials = self.first_name[0] + "." + self.last_name[0] +

In [4]:
n = Name('jOhN', 'sIlvER')
print(n.first_name)
print(n.last_name)
print(n.full_name)
print(n.initials)

John
Silver
John Silver
J.S

In [1]:
#Калькулятор

class Calculator():
    def add(self, a, b):
        return a+b
    
    def subtract(self, a, b):
        return a-b
    
    def myltiply(self, a, b):
        return a*b
    
    def divide(self, a, b):
        return a/b

In [2]:
c = Calculator()
c.add(1,2)

3

In [3]:
#'John-Smith-55000'

In [4]:
class Employe():
    def __init__(self, first_name, last_name, salary):
        self.first_name = first_name
        self.last_name = last_name
        self.salary = salary
        
    @classmethod
    def from_string(cls, str_to_parse): #ф-я уровня класса 
        data = str_to_parse.split('-')   #парсим с помощью ф-и split
        return cls(data[0], data[1], int(data[2]))

In [5]:
emp = Employe.from_string('John-Smith-55000')
print(emp.first_name)
print(emp.last_name)
print(emp.salary)

John
Smith
55000